ul {
    padding: 0;
    padding-left: 1.5rem;
    margin: 0;
}

.hero {
    padding: 3rem 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    width: 100%;
    height: 100vh;
}

.headshot {
    border-radius: 9999px;
    aspect-ratio: 1/1;
    object-fit: contain;

    max-width: 300px;
    width: 80%;
}

.heroContent {
    max-width: 400px;

    h3 {
        padding-bottom: 0.25rem;
    }
    h1 {
        padding-bottom: 0.5rem;
    }

    p, li {
        padding-bottom: 0.5rem;
    }

    .buttonContainer {
        display: flex;
        gap: 0.5rem;
        align-items: center;
        justify-content: left;
        padding-top: 0.5rem;
        
        p {
            font-weight: 600;
            font-size: 1rem;
            padding: 0;
        }
    }
}

.experienceButton, .resumeButton {
    font-size: 1rem;
    text-decoration: underline;
    font-weight: 600;
}

@media (min-width: 640px) {
    .hero {
        flex-direction: row;
        gap: 2rem;
    }

    .buttonContainer {
        gap: 2rem;
    }
}

@media (min-width: 1400px) {
    .headshot {
        max-width: 350px;
    }

    .heroContent {
        max-width: 600px;

        h1 {
            font-size: 3rem;
        }

        h3 {
            font-size: 1.5rem;
        }

        p, li {
            font-size: 1.25rem;
        }

        .buttonContainer {
            gap: 1rem;
    
            p {
                font-size: 1.25rem;
            }
        }
    }

    .experienceButton, .resumeButton {
        font-size: 1.25rem;
    }


}