.nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;

    display: flex;
    justify-content: center;

    max-width: 100%;

    background-color: white;
    border-bottom: 1px solid var(--border-color);

    h1 {
        font-size: 1.25rem;
    }
}

.navContainer {
    width: 100%;
    max-width: var(--app-max-width);

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    height: 3rem;
}

.navLinks {
    display: flex;
    gap: 1rem;
}

.navLinks a {
    font-size: 0.8rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

@media (max-width: 640px) {
    .navTitle {
        display: none;
    }

    .navContainer {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
    }

    .navLinks a {
        font-size: 0.8rem;
    }
}