.resumeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.resume {
    width: 8.5in;
    height: 11in;

    /* background: url('../assets/resume-background.png') no-repeat center center; */
    background-color: white;

    display: flex;
    flex-direction: column;
    overflow: hidden;

    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 2rem;

        .titleBlock {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;

            .name {
                font-size: 36pt;
                font-weight: 600;
            }

            .title {
                font-size: 16pt;
                font-weight: 300;
            }
        }

        .contact {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;

            .email, .phone, .website {
                font-size: 12pt;
                font-weight: 400;
            }
        }
    }

    .summary {
        padding: 1.5rem 2rem;
        border-top: 1px solid black;
        border-bottom: 1px solid black;

        h2 {
            font-size: 12pt;
            font-weight: 600;
            margin-bottom: 1rem;
        }

        li, p {
            font-size: 12pt;
            font-weight: 400;
        }
    }

    .mainContent {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        height: 100%;

        .leftColumn {
            padding: 1.5rem 2rem;
            width: 33.33%;
            height: 100%;

            .school {
                margin-bottom: 0.5rem;
            }

            h2 {
                font-size: 12pt;
                font-weight: 500;
                margin-bottom: 0.5rem;
            }

            h3 {
                font-size: 10pt;
                font-weight: 700;
                line-height: 2;
            }

            h4 {
                font-size: 10pt;
                font-weight: 500;
                line-height: 2;
            }

            p {
                font-size: 10pt;
                font-weight: 400;
            }

            li {
                font-size: 10pt;
                font-weight: 400;
            }
        }

        .rightColumn {
            padding: 1.5rem 2rem;
            width: 66.67%;
            height: 100%;
            border-left: 1px solid black;

            h2 {
                font-size: 12pt;
                font-weight: 500;
                margin-bottom: 0.5rem;
            }

            h3 {
                font-size: 10pt;
                font-weight: 700;
                line-height: 2;
            }

            .experienceItem {
                margin-bottom: 0.5rem;
            }

            .experienceItemHeader {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                .date {
                    font-size: 10pt;
                    font-weight: 300;
                }
            }

            .description {
                font-size: 10pt;
                font-weight: 400;
                line-height: 1.5;
            }
        }
    }
}